.burger {
    background-image: url(../images/pictures/burger.jpg);
}
.kurinie {
    background-image: url(../images/pictures/kurinie.jpg);
}
.pitsa {
    background-image: url(../images/pictures/pitsa.jpg);
}
.xotdog {
    background-image: url(../images/pictures/xotdog.jpg);
}
.fri {
    background-image: url(../images/pictures/fri.jpg);
}
.napitki {
    background-image: url(../images/pictures/cofe.jpg);
}